{% load typogrify_tags %}
{% filter typogrify %}
	<div id="footer" class="clearfix">
		<div class="top_return">
			<a href="#top" class="backToTop">Back to top</a>
		</div>
		<ul class="menu">
			<li><a href="http://www.cardiff.ac.uk/legals/copyright/index.html">© Cardiff University</a></li>
			<li><a href="http://www.cardiff.ac.uk/accessibility/index.html">Accessibility</a></li>
			<li><a href="http://www.cardiff.ac.uk/contactus/webfeedback/index.html">Feedback</a></li>
			<li><a href="http://www.cardiff.ac.uk/cookies">Cookies</a></li>
			<li><a href="http://www.cardiff.ac.uk/legals/privacy/index.html">Privacy Policy</a></li>
			<li><a href="http://www.cardiff.ac.uk/legals/termsofuse/index.html">Terms of Use</a></li>
			<li><a href="http://www.cardiff.ac.uk/az/index.html">A-Z</a></li>
			<li><a href="http://arkestra-project.org/">This site is powered by <em>Arkestra</em></a></li>
		</ul>
	</div>	
{% endfilter %}
