{% extends "arkestra.html" %}
{% load typogrify_tags insert_tags cms_tags menu_tags %}

{% block site_styles %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/mothersofafrica/mothersofafrica.css" />
	<!--[if IE]><link href="{{ MEDIA_URL }}css/mothersofafrica/ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE 7]><link href="{{ MEDIA_URL }}css/mothersofafrica/ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
{% endblock site_styles %}

{% block body_content %}
    <div class="surface">
        {% filter amp|smartypants|caps|initial_quotes %}
            {% with placeholder_width=710 person_description_width=360 generic_main_width="230x196" sidebar_map_size="230x180" person_image_size="352x352" entity_image_size="353x352" lightbox_max_dimension=800 person_entity_map_size="330x200" %}
        		<div id="outer-wrapper">
        			<div id="inner-wrapper">
        				{% block menu %}<ul class= "menu">{% show_menu 0 100 100 100 "cms/arkestra_menu.html" "" "" %}</ul>{% endblock menu %}
        				{% block main_page_body %}
                            {% filter amp|smartypants|caps|initial_quotes %}
        						{% insert "newsflash" %}
        				   		{% placeholder body %}
        					{% endfilter %}
        			  	{% endblock main_page_body %}
        			</div>
                {% block footer %}
                    <ul class="footer">
                    	<li>Registered Charity No. <a href="http://www.charity-commission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=1114509">1114509</a></li>
                    	<li><a href="http://www.cardiff.ac.uk/cookies">Cookies</a> on this website</li>
                    	<li class="arkestra">This website is powered by <a href="http://arkestra-project.org/">Arkestra</a></li>
                    </ul>
                {% endblock footer %}
        	</div>
        {% endwith %}{% endfilter %}
    </div>
{% endblock body_content %}
