{% extends "cardiff/medic.html" %}
{% load cache cms_tags menu_tags %}


{% block body %}
<body class="medic">
{% endblock %}


{% block banner %}
<div class="clearfix research-banner" id="header">
    <a href="http://www.cardiff.ac.uk/" title="Cardiff University | Prifysgol Caerdydd">
        <span class="logo">
            <img alt="Cardiff University | Prifysgol Caerdydd" src="/media/images/cu_logo.gif" title="Cardiff University | Prifysgol Caerdydd" />
        </span>
    </a> 
    <div class="floatLeftTop">
        <a href="/medic" title=""><img alt="" src="http://cf.ac.uk/medic/images/irgs/image-73502-full.gif" title="" /></a>
        <a href="http://cf.ac.uk/medic/research/index.html" title="">
            <img alt="" src="http://cf.ac.uk/medic/images/irgs/image-73500-full.gif" title="" />
        </a> 
        <div class="centre-name">
            <a href="http://cf.ac.uk/medic/irg-i3-old/index.html" title="">
                <img alt="" src="http://cf.ac.uk/medic/images/irgs/image-73450-full.gif" title="" />
            </a>
        </div>
    </div>
    <a href="http://cf.ac.uk/medic/irg-i3/index.html" title="">
        <img alt="" class="floatRight" src="http://cf.ac.uk/medic/irg-i3/[hidden]images/image-95804-full.png" title="" />
    </a>
</div>
{% endblock %}


{% block horizontal_navigation %}	    
{% endblock %}