/* medical_education */
/* -------------------------------------------------------- header Styles */
.medical_education #header {
  background-color: #1d3891;
  background-image: url("/media/css/medic/images/header_dark_blue.jpg")
}
.medical_education #header h1 span {
    background: url("/media/css/medical_education/images/medical_education.png") no-repeat scroll 0 0 transparent;
}
/* ----------------------------------------------------- nav_horiz Styles */

