{% extends "arkestra.html" %}
{% load typogrify_tags insert_tags cms_tags menu_tags %}

{% block site_styles %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/arkestra/arkestra.css" />
{% endblock site_styles %}


{% block body_content %}
<div class="surface">
	<div id="outer-wrapper">
		{% block menu %}<ul class= "menu">{% show_menu 0 1 0 1 "cms/horizontal_menu.html" "" "" %}</ul>{% endblock menu %}
    		<div id="inner-wrapper">

    			{% block main_page_body %}
    		        {% filter amp|smartypants|caps|initial_quotes %}
{% with placeholder_width=760 person_description_width=360 generic_main_width="230x196" sidebar_map_size="230x180" person_image_size="352x352" entity_image_size="353x352" lightbox_max_dimension=800 %}
    					{% insert "newsflash" %}
    			 		{% placeholder body %}
{% endwith %}
    				{% endfilter %}
    			{% endblock main_page_body %}

    			</div>
{% block footer %}
{% endblock footer %}

			</div>
		</div>
	</div>
</div>
{% endblock body_content %}

