{% extends "cardiff.html" %}{% load typogrify_tags %}

{% block extrastyles %}
	{{ block.super }}
	<link href="/media/css/medic/css/medicine.css" rel="stylesheet" type="text/css" />
{% endblock extrastyles %}

{% block dept_class %}medic{% endblock dept_class %}

{% block banner %}
	<div class="clearfix" id="header">
		<a href="http://www.cardiff.ac.uk/" title="Cardiff University | Prifysgol Caerdydd">
		<img alt="Cardiff University | Prifysgol Caerdydd" src="/media/images/cu_logo.gif" /></a>
		<div id="bannerImg"></div>

		<h1 title="School of Medicine"><span></span>School of Medicine</h1>
		<p class="h1subhead"></p>
	</div>
{% endblock %}

{% block horizontal_navigation %}	    
    {% if not current_page.flags.no_horizontal_menu %}
	{% filter typogrify %}
		<div id="nav_horiz" class="expands">
			<ul class="menu">
				<li><a href="/">School Home</a></li>
				<li><a href="/about-us/">About Us</a></li>
				<li><a href="/medical-education/">Medical Education</a></li>
				<li><a href="/research/">Research</a></li>
				<li><a href="/news-and-events/">News &amp; Events</a></li>
				<li><a href="/contact/">Contacts &amp; People</a></li>
			</ul>
		 </div>
	{% endfilter %}
	{% endif %}
{% endblock %}