/* psychological_medicine */
/* -------------------------------------------------------- header Styles */
.psychological_medicine #header {
   background-color: #1d3891;
   background-image: url("/media/css/medic/images/header_dark_blue.jpg")
}

.psychological_medicine #header h1 span {
    background: url("/media/css/psychological_medicine/images/psychological_medicine.png") no-repeat scroll 0 0 transparent;
}
/* ----------------------------------------------------- nav_horiz Styles */

