/* This file contains basic element formating that is not layout/position related */
body{
    background:url("/media/images/cu_page_bg.gif") repeat-x scroll left top #efefef;
    font-family: Verdana,Geneva,Helvetica,sans-serif;
    font-size: 76%;
    color: #333333;
}
a:link, a:visited, a:active {
    color: #0000FF;
    text-decoration: none;
}
a:link:hover, a:visited:hover {
    text-decoration: underline;
}
p{
    line-height: 1.9;
    margin: 0 0 0.8em;
}
h1{

}
h2{
    font-size: 17px;
    line-height: 15px;
    margin: 0px 0 15px;
}
h3{
    font-size: 15px;
    line-height: 15px;
    margin: 10px 0 5px;
}
h4{
    font-size: 13px;
    line-height: 13px;
    margin: 10px 0 5px;
}
h5{

}
div {
    font-size: 1em;
    line-height: 1.4em;
}
dl dt{
    font-weight: bold;
    margin: 0.25em 0;
    padding: 0;
}

ul {list-style: square; padding-left: 15px;}
ol {list-style: decimal; padding-left: 15px;}

li  {padding-bottom: 1ex;}

ul.plugin-list {padding-left: 0;}
ul.menu {list-style: none; padding-left: 0}
ul.menu li  {padding-bottom: 0;}

ul.boxed, div.boxed-lists ul    {padding-left: 0;}
ul.boxed li, div.boxed-lists li {
    border: 1px solid #ccc;
    background: #ecf1ff;
    list-style:none;
    padding: .5em;
    margin: 0 0 1em;
    }
    
ul.boxed li li {border: none;}
ul.boxed li dl {margin:0;}

/* icons */
ul.icons    {
    list-style: square url(/media/images/arrow_cu_right.gif);
    padding-left: 20px;
}

/* arkestra classes */
.date {
color: #666;
font-weight: bold;
}

.venue-line {
color: #333;
}

.venue  {
    font-style: italic;
}

/* presentation editor styles */
.border-top  {border-top: 1px solid #999; padding-top: 1ex;}      

.multiple-image-shadows:hover ul.multiple.imageset li.image.link { opacity: .4;}

.multiple-image-shadows ul.multiple.imageset:hover li.image.link:hover    {
    box-shadow: 2px 2px 3px 1px rgba(6,6,6,.5);    
    opacity: 1; 
    outline: none;
    }
    
/* Forms */

form *{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
form.filter-form{
    margin-bottom: 1em;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], 
input[type="time"], input[type="week"], input[type="number"], 
input[type="email"], input[type="url"], input[type="search"], 
input[type="tel"], input[type="color"], .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus,
input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, 
input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, 
input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, 
input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0,  0.075) inset, 0 0px 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"],
.uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}

.cardiff.medic button, .cardiff.medic input, .cardiff.medic select, .cardiff.medic textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
.filter-form label{
    min-width: 4em;
    display: inline-block;
}
/*Removed margin from input and added to wrapper to correct vertical-align: middle error    */
form > div{
    margin-bottom: 1em;
}

.filterline .filterlabel {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.addfilter{
    display: inline-block;
    margin-bottom: 0.5em;
}
.label-text{
    display: inline-block;
    margin-bottom: 0.5em;
}