/* Medic Styles */

.medic h2{color:#990033}

/* -------------------------------------------------------- tints */

.medic .tint1{
  background: none repeat scroll 0 0 #DCE3FA;
  border-color: #CDD8FA;
  color: #000000;
}
.medic .tint1 h3, .medic .tint1 h4, .medic .tint1 h5, .medic .tint1 h6 {
    color: #4358CC;
}
.medic .tint2{
  background: none repeat scroll 0 0 #DCDCDC;
  border-color: #C2D8A8;
  color: #000000;
}
.medic .tint2 h3, .medic .tint2 h4, .medic .tint2 h5, .medic .tint2 h6 {
    color: #4358CC;
}
.medic .tint6{
  background: none repeat scroll 0 0 #E6F1D8;
  border-color: #D8D8D8;

}
.medic .tint6 h3, .medic .tint6 h4, .medic .tint6 h5, .medic .tint6 h6{
  color: #990033;

}

.medic .tint3{
    background: none repeat scroll 0 0 #22211F;
    border-color: #D8D8D8;
    color: #BFBEBE
}
.medic .tint3 a:link{
    color: #eee;
    text-decoration: underline;
}
.medic .tint3 a:hover,
.medic .tint3 a:focus{
    color: #fff;
}
.medic .tint3 a.title:link{
    text-decoration: none;
}
.medic .tint3 .venue-line {
    color: #BFBEBE;
}
.medic .tint3 h3{
    color: #D3374A;
}

.medic .tint3.inverse{
  background: none repeat scroll 0 0 #E9E9E9;
  border-color: #D8D8D8;
  color: #22211F
}
.medic .tint3.inverse a:link{
  color: #22211F
}
.medic .tint3.inverse a:hover,
.medic .tint3.inverse a:focus{
    color: #000;
}
.medic .tint3.inverse .venue-line {
    color: #22211F;
}
.medic .tint3.inverse h3{
    color: #D3374A;
}

/* -------------------------------------------------------- header Styles */
 .medic #header {
  background: url("/media/css/medic/images/schoolbanner3.jpg") no-repeat scroll right top #708EF1;
  width: auto;
}
.medic #header h1 {
  color: #708EF1;
  font-size: 0;
}
.medic #header h1 span {
  background: url("/media/css/medic/images/school-name.gif") no-repeat scroll 0 0 transparent;
  height: 42px;
  position: absolute;
  width: 417px;
}

/* ----------------------------------------------------- nav_horiz Styles */

.medic #nav_horiz {
  background-color: #4358CC;
  font-family: Arial,Helvetica,sans-serif;
}
.medic #nav_horiz a{
  background-color: #4358CC;
  font-family: Arial,Helvetica,sans-serif;
}
.medic #nav_horiz a:link, .medic #nav_horiz a:visited, .medic #nav_horiz a:hover, .medic #nav_horiz a:active {
  color: #FFFFFF;
}
.medic #nav_horiz a{
  background-color: #4358CC;
  font-family: Arial,Helvetica,sans-serif;
}
.medic #nav_horiz a:link, .medic #nav_horiz a:visited, .medic #nav_horiz a:hover, .medic #nav_horiz a:active {
  color: #FFFFFF;
}

/*MEDIC #nav_local definitions*/
/*uses default styles from styles/_core/nav.css with those below over-riding*/

/* level 1 nav */
#nav_local a.subsite_head:link, 
#nav_local a.subsite_head:visited   {
	background: #5165d1 url(/media/css/medic/images/cu_menu_top_corner.gif) right top no-repeat;
	color: #fff;
    }

#nav_local a.subsite_head:hover  {
	background: #2c41b7 url(/media/css/medic/images/cu_menu_top_corner.gif) right top no-repeat;
	color: #fff;
    }
    
#nav_local a.subsite_head:active  {
	background: #4358cc url(/media/css/medic/images/cu_menu_top_corner.gif) right top no-repeat;
	color: #fff;
    }    

/* level 2 nav */

#nav_local ul li ul li a:link,
#nav_local ul li ul li a:visited    {
    background-color: #cdd8fa;
    border-color: #cdd8fa;
    }


#nav_local ul li ul li a:hover,
#nav_local ul li ul li a:active {
    background-color: #dfe7ff;
    border-color: #d2dcf8;
    }


#nav_local ul li ul li a.current:link,
#nav_local ul li ul li a.current:visited,
#nav_local ul li ul li a.current:hover,
#nav_local ul li ul li a.current:active  {
    background-color: #dfe7ff;
    border-color: #dfe7ff;
    }
    
    
/*level 3 nav */

#nav_local ul li ul li ul li a:link,
#nav_local ul li ul li ul li a:visited {
    background-color: #e8edfd;
    border-color: #e8edfd;
    }

#nav_local ul li ul li ul li a:hover,
#nav_local ul li ul li ul li a:active {
    background-color: #f0f3fe;
    border-color: #dfe6fa;
    }
    

#nav_local ul li ul li ul li a.current:link,
#nav_local ul li ul li ul li a.current:visited,
#nav_local ul li ul li ul li a.current:hover,
#nav_local ul li ul li ul li a.current:active {
    background-color: #f0f3fe;
    border-color: #f0f3fe;
    }

 
    
/*level 4 nav*/

#nav_local ul li ul li ul li ul li a:link {
  background-color: #e8edfd;
  border-color: #e8edfd;			
}
#nav_local ul li ul li ul li ul li a:visited{
  background-color: #e8edfd;
  border-color: #e8edfd;			
}
#nav_local ul li ul li ul li ul li a:hover{
  background-color: #f0f3fe;
  border-color: #dfe6fa;			
}
#nav_local ul li ul li ul li ul li a:active {
  background-color: #f0f3fe;
  border-color: #dfe6fa;	
}

#nav_local ul li ul li ul li ul li a.current:link{
  background-color: #f0f3fe;
  border-color: #f0f3fe;	
}
#nav_local ul li ul li ul li ul li a.current:visited{
  background-color: #f0f3fe;
  border-color: #f0f3fe;		
}
#nav_local ul li ul li ul li ul li a.current:hover{
  background-color: #fff;
  border-color: #f0f3fe;	
}
#nav_local ul li ul li ul li ul li a.current:active {
  background-color: #f0f3fe;
  border-color: #f0f3fe;	
}

        
/*level 5 nav*/
#nav_local ul li ul li ul li ul li ul li a:link {
  background-color: #e8edfd;
  border-color: #e8edfd;			
}
#nav_local ul li ul li ul li ul li ul li a:visited{
  background-color: #e8edfd;
  border-color: #e8edfd;			
}
#nav_local ul li ul li ul li ul li ul li a:hover{
  background-color: #f0f3fe;
  border-color: #dfe7ff;			
}
#nav_local ul li ul li ul li ul li ul li a:active {
  background-color: #f0f3fe;
  border-color: #dfe7ff;	
}
#nav_local ul li ul li ul li ul li ul li a.current:link{
  background-color: #f0f3fe;
  border-color: #f0f3fe;	
}
#nav_local ul li ul li ul li ul li ul li a.current:visited{
  background-color: #f0f3fe;
  border-color: #f0f3fe;		
}
#nav_local ul li ul li ul li ul li ul li a.current:hover{
  background-color: #fff;
  border-color: #dfe7ff;	
}
#nav_local ul li ul li ul li ul li ul li a.current:active {
  background-color: #fff;
  border-color: #dfe7ff;	
}

