{% extends "cardiff/medic.html" %}
{% load pagination_tags sekizai_tags %}
{% block nav_local %}
{% endblock nav_local %}

{% block main_page_body %}
{% addtoblock "css" %}
<style>
/* Filters */
.filterline {
    margin-bottom: 0.5em;
    margin-left: 0;
    text-indent: 0;
    line-height: 1.8em;
}

.filterline .filterlabel {
    font-weight: bold;
}
.removefilter a:link,
.removefilter a:visited,
.addfilter a:link,
.addfilter a:visited {
    text-decoration: none;
}

.removefilter a:link,
.removefilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #113399;
    background-color: #113399;
    color: white;
}

.addfilter a:link,
.addfilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    color: black;
}

/* :hover come after to override */
.addfilter a:hover,
.removefilter a:hover {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #3355bb;
    background-color: #3355bb;
    color: white;
}

.displayfilter {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #303030;
    background-color: white;
    color: #505050;
}
</style>   
{% endaddtoblock %}
    {% block curated_resources %}{% endblock curated_resources %}
{% endblock main_page_body %}
